!!! 5
%html
  /[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %head
    %meta{:charset => "UTF-8"}
    %title= "Helpers"
    %link{:href => "styles/style.css", :rel => "stylesheet", :type => "text/css"}

  %body
    %h1.text--right_small Hello
